@font-face {
  font-family: "Recoleta";
  src: url("../fonts/recoleta-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/recoleta-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-200.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}