.form {
  background: white;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 870px;
}
.form__text {
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__icon {
  width: 22px;
  height: 22px;
}
.form__add {
  background: #2eb0fc;
  color: white;
  font-weight: bold;
  padding: 8px 14px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}
.form__icon {
  position: relative;
  top: 4px;
}