.row {
  margin: 0 auto;
  max-width: 1260px;
  position: relative;
  width: 100%;
}
.row__container {
  margin: 0 -10px;
  line-height: 0;
  font-size: 0;
}

.container {
  padding: 0 20px;
}

.col {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .row {
    padding: 0 10px;
  }
  .col_6 {
    width: 50%;
  }
}