.mod-quote {
  font: 300 24px/28px "Sharp Grotesk", sans-serif;
  text-align: center;
}
.mod-quote__text {
  max-width: 335px;
  margin: 30px auto 76px;
}
.mod-quote__svg {
  -webkit-animation: arrow-anim 1.2s ease-in-out infinite;
          animation: arrow-anim 1.2s ease-in-out infinite;
}

.mod-background {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 90px 0 58px;
}
.mod-background.visible {
  background: url(../../dist/images/bg-mod-background.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 1;
}

@media (min-width: 768px) {
  .mod-quote__text {
    font: 300 64px/72px "Sharp Grotesk", sans-serif;
    letter-spacing: -0.25px;
    max-width: 1100px;
    margin: 87px auto 244px;
  }
  .mod-quote__quote {
    font: 300 120px/72px "Sharp Grotesk", sans-serif;
  }
  .mod-background {
    padding: 122px 0 99px;
  }
}