.home-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  height: 1700px;
  max-height: inherit;
}
.home-top__center {
  gap: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
.home-top__figure {
  margin: 0 auto;
  text-align: right;
  height: 99px;
  width: 265px;
}
.home-top__img {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-top__title {
  font: 300 32px/36px "Sharp Grotesk", sans-serif;
  padding: 0 20px;
  text-align: center;
  max-width: 375px;
}
.home-top__arrow {
  position: absolute;
  bottom: 35px;
  -webkit-animation: arrow-anim 1.2s ease-in-out infinite;
          animation: arrow-anim 1.2s ease-in-out infinite;
}
.home-top__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 550px;
  width: 434px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.home-top__bg.visible {
  background-size: cover;
  opacity: 1;
}

.home-background {
  background-color: #f4f4f4;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .home-top {
    height: 1700px;
    max-height: inherit;
  }
  .home-top__block {
    display: block;
  }
  .home-top__title, .home-top iframe, .home-top .iframe__figure {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .home-top__title {
    font: 300 64px/72px "Sharp Grotesk", sans-serif;
    margin: 328px 0 0;
    text-align: center;
    letter-spacing: -0.25px;
    max-width: 1128px;
  }
}
@-webkit-keyframes arrow-anim {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}
@keyframes arrow-anim {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}