.lab-grid__container {
  padding: 20px;
}
.lab-grid__img {
  border-radius: 12px;
}
.lab-grid__x2, .lab-grid__x3, .lab-grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lab-grid__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  height: 233px;
}
.lab-grid__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  gap: 20px;
}
.lab-grid--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.lab-grid--vertical .lab-grid__img {
  height: 470px;
}
.lab-grid::before {
  content: "";
  background: #E4EAFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4EAFF), to(#F4F4F4));
  background: linear-gradient(180deg, #E4EAFF, #F4F4F4);
  display: block;
  height: 70%;
  position: absolute;
  width: 100%;
}

.lab__data {
  display: none;
}

.lab__img {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

@media (min-width: 768px) {
  .lab-grid__container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .lab-grid__x2 {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .lab-grid__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
  }
  .lab-grid__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .lab-grid--vertical .lab-grid__img {
    height: inherit;
  }
  .lab-grid--right {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .lab-grid__itemx2 {
    grid-column-end: span 2;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .lab-grid--vertical {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
  .lab-grid__img {
    height: 100%;
  }
}
@media (min-width: 995px) and (max-width: 1100px) {
  .lab-grid--vertical {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}
@media (min-width: 768px) and (max-width: 995px) {
  .lab-grid--vertical {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 310px;
            flex: 0 0 310px;
  }
}