.lightbox-active {
  position: relative;
  overflow: hidden;
}

.lightbox {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 706px;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.lightbox.active {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
}
.lightbox__overlay {
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: #E5EAFF;
  opacity: 0.8;
  cursor: pointer;
}
.lightbox__wrap {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1236px;
  max-width: 340px;
  position: relative;
  z-index: 2;
  border-radius: 12px;
  -webkit-filter: drop-shadow(0px 4px 100px rgba(18, 124, 250, 0.35));
          filter: drop-shadow(0px 4px 100px rgba(18, 124, 250, 0.35));
  width: 100%;
}
.lightbox__nav {
  position: absolute;
  right: 38px;
  top: 48px;
  right: 8px;
  top: 8px;
  height: 50px;
  width: 50px;
}
.lightbox__nav__svg {
  width: 20px;
}
.lightbox__data {
  position: relative;
  padding: 50px 25px 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.lightbox__title {
  font: 300 32px/32px "Sharp Grotesk", sans-serif;
  margin: 0 0 2px;
}
.lightbox__subtitle {
  font: 300 24px/28px "Sharp Grotesk", sans-serif;
}
.lightbox__snood {
  font: 300 20px/24px "Sharp Grotesk", sans-serif;
}
.lightbox__text {
  font: 200 14px/20px "Sharp Grotesk", sans-serif;
}
.lightbox__title:empty, .lightbox__subtitle:empty, .lightbox__text:empty, .lightbox__snood:empty {
  display: none;
}
.lightbox__img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: auto;
  width: 100%;
}
.lightbox__next {
  position: absolute;
  bottom: 44px;
  right: 24px;
}

@media (max-height: 650px) and (max-width: 768px) {
  .lightbox__overflow {
    height: 996px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 768px) and (max-height: 900px) {
  .lightbox {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .lightbox__overlay {
    height: 786px;
    position: fixed;
  }
  .lightbox__overflow {
    height: 856px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-height: 630px) {
  .lightbox {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .lightbox__overlay {
    height: 786px;
    position: fixed;
  }
  .lightbox__overflow {
    height: 856px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .lightbox__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1236px;
  }
  .lightbox__nav {
    top: 32px;
    right: 21px;
  }
  .lightbox__figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 606px;
            flex: 0 0 606px;
  }
  .lightbox__figure--vertical {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
  .lightbox__data {
    padding: 100px 52px 0;
    gap: 26px;
    width: 100%;
  }
  .lightbox__title {
    font: 300 45px/52px "Sharp Grotesk", sans-serif;
    margin: 0 0 16px;
  }
  .lightbox__subtitle {
    font: 300 32px/36px "Sharp Grotesk", sans-serif;
    margin: 0 0 9px;
    max-width: 355px;
  }
  .lightbox__snood {
    font: 300 28px/36px "Sharp Grotesk", sans-serif;
  }
  .lightbox__text {
    font: 200 16px/26px "Sharp Grotesk", sans-serif;
    max-width: 465px;
  }
  .lightbox__img {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
  }
  .lightbox__next {
    right: 37px;
    bottom: 15px;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .lightbox__wrap {
    max-width: 960px;
  }
  .lightbox__figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 475px;
            flex: 0 0 475px;
  }
  .lightbox__data {
    padding: 50px 35px 0;
    gap: 10px;
  }
  .lightbox__nav {
    top: 12px;
  }
  .lightbox__title {
    font: 300 40px/47px "Sharp Grotesk", sans-serif;
  }
  .lightbox__subtitle {
    font: 300 27px/31px "Sharp Grotesk", sans-serif;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .lightbox {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .lightbox__wrap {
    max-width: 380px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lightbox__figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 315px;
            flex: 0 0 315px;
  }
  .lightbox__nav {
    position: absolute;
    right: 38px;
    top: 48px;
    right: 8px;
    top: 8px;
    height: 50px;
    width: 50px;
  }
  .lightbox__nav__svg {
    width: 20px;
  }
  .lightbox__data {
    position: relative;
    padding: 50px 25px 124px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 28px;
  }
  .lightbox__title {
    font: 300 32px/32px "Sharp Grotesk", sans-serif;
    margin: 0 0 2px;
  }
  .lightbox__subtitle {
    font: 300 24px/28px "Sharp Grotesk", sans-serif;
  }
  .lightbox__snood {
    font: 300 20px/24px "Sharp Grotesk", sans-serif;
  }
  .lightbox__text {
    font: 200 14px/20px "Sharp Grotesk", sans-serif;
  }
  .lightbox__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
  }
  .lightbox__overlay {
    height: 786px;
    position: fixed;
    height: 996px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .lightbox__overflow {
    height: 856px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 20px;
  }
}