.navigation {
  background: #f4f4f4;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none;
}
.navigation__ani {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.navigation__images {
  display: none;
}
.navigation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
}
.navigation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  margin: 5px 13px 0 0;
  -webkit-column-gap: 73px;
     -moz-column-gap: 73px;
          column-gap: 73px;
}
.navigation__content {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70vh;
}
.navigation__nav-1 {
  font: 300 50px/58px "Sharp Grotesk", sans-serif;
  letter-spacing: -0.25px;
  color: #606060;
}
.navigation__nav-1__arrow {
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}
.navigation__nav-1__li {
  margin-top: 14px;
}
.navigation__nav-1__a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__nav-1__a:hover, .navigation__nav-1__a.active {
  color: black;
}
.navigation__nav-1__a:hover .navigation__nav-1__arrow, .navigation__nav-1__a.active .navigation__nav-1__arrow {
  opacity: 1;
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
}
.navigation__social {
  font: 300 22px/28px "Sharp Grotesk", sans-serif;
  max-width: 330px;
}
.navigation__social__span {
  display: block;
}
.navigation__social__a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__social__a:hover {
  color: #a891ff;
}
.navigation.active {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
}
.navigation.active .navigation__ani {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}
.navigation.active .navigation__ani-1 {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.navigation.active .navigation__ani-2 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.navigation.active .navigation__ani-3 {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.navigation.active .navigation__ani-4 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.navigation.active .navigation__ani-5 {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

@media (min-width: 760px) {
  .navigation__header {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .navigation__header__text {
    font: 200 16px/1 "Sharp Grotesk", sans-serif;
  }
  .navigation__right {
    margin: 0;
  }
  .navigation__content {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .navigation__nav-1 {
    font: 300 64px/72px "Sharp Grotesk", sans-serif;
    letter-spacing: -0.25px;
    color: #606060;
  }
  .navigation__social {
    font: 300 28px/34px "Sharp Grotesk", sans-serif;
  }
  .navigation__images {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .navigation__images__wrapper {
    margin: auto;
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation__image {
    margin: auto;
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
  }
  .navigation__image.active .navigation__img {
    opacity: 1;
    width: 100%;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .navigation__img {
    -webkit-transition: all 1.5s cubic-bezier(0, 0.805, 0.145, 0.995), opacity 0.2s;
    transition: all 1.5s cubic-bezier(0, 0.805, 0.145, 0.995), opacity 0.2s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    display: block;
    width: 46%;
    height: 681px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}