.single__info {
  text-align: center;
  margin: 0 0 30px;
  padding-top: 58px;
}
.single__info__title {
  font: 300 24px/30px "Sharp Grotesk", sans-serif;
  margin: 0 0 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.single__info__text {
  font: 300 32px/32px "Sharp Grotesk", sans-serif;
  margin: 0 0 65px;
}
.single__info__container {
  border-bottom: 1px solid black;
  margin: 0 16px;
}

@media (min-width: 768px) {
  .single__info {
    margin: 0 0 60px;
    padding-top: 90px;
  }
  .single__info__title {
    margin: 0 0 58px;
  }
  .single__info__text {
    font: 300 45px/52px "Sharp Grotesk", sans-serif;
    margin: 0 0 130px;
  }
  .single__info__container {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .single__info__text {
    font: 300 40px/47px "Sharp Grotesk", sans-serif;
    padding: 0 15px;
    margin: 0 0 100px;
  }
}