body {
  background: black;
  color: white;
  padding-top: 94px;
}
body a:hover {
  color: #ACFF58;
}

.header {
  background: black;
  color: white;
}
.header path {
  stroke: white;
}
.header--sticky {
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.footer {
  border-color: #fff;
}