.workmin {
  padding: 0 20px;
}
.workmin__item {
  border-top: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 0 8px;
  width: 100%;
  font: 200 16px/24px "Sharp Grotesk", sans-serif;
  letter-spacing: 0.15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.workmin__container {
  border-bottom: 1px solid #000;
}
.workmin__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.workmin__arrow__svg {
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.workmin__title {
  max-width: 100px;
}
.workmin__caption {
  color: #606060;
  font: 200 12px/20px "Sharp Grotesk", sans-serif;
  width: 80px;
}
.workmin__tag {
  width: 100px;
}
.workmin__filter {
  width: 100%;
}

@media (min-width: 768px) {
  .workmin {
    padding: 79px 0 0;
  }
  .workmin__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: 200 16px/24px "Sharp Grotesk", sans-serif;
    padding: 11px 0 27px;
  }
  .workmin__item:hover {
    background: black;
    color: white;
    padding-left: 20px;
  }
  .workmin__item:hover .workmin__caption {
    color: white;
  }
  .workmin__item:hover .workmin__arrow__svg {
    left: -15px;
    stroke: white;
  }
  .workmin__arrow__svg {
    left: -25px;
  }
  .workmin__title {
    max-width: inherit;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
  }
  .workmin__tag {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
  .workmin__caption {
    color: #606060;
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}