@import '../vars.scss';

.form {
    background: white;
    box-shadow: 0 1px 7px rgb(0 0 0 / 15%);
    padding: 10px 15px;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 870px;

    &__text {
        border: 0;
        flex: 1;
    }

    &__icon {
        width: 22px;
        height: 22px;
        border-radius: 125px;
        background: white;
        transition: $transition;
    }

    &__add {
        background: $color-secondary;
        color: white;
        font-weight: bold;
        padding: 8px 14px 6px;
        border-radius: 4px;
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
        transition: $transition;
    }

    &.focus {
        .form__add {
            visibility: visible;
            opacity: 1;
        }

        .form__icon {
            background: $color-secondary;
            fill: white;
        }
    }

    &__icon {
        position: relative;
        top: 4px;
    }
}