@import '../vars.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 0;

    &__svg {
        width: 140px;
        height: 80px;
    }

    &__title {
        font-size: 0;
    }
}

@media (min-width: 760px) {
    .header {


        &__svg {
            width: 190px;
            height: 110px;
        }
    }
}