@import '../vars.scss';

.header {
    font-size: 22px;
    color: black;
    background: #f4f4f4;
    position: absolute;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 0 0 rgba(0, 0, 0, .08);
    transition: $transition ease-out;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 96px;
        box-sizing: border-box;
        padding: 0 30px;
        transition: $transition ease-out;
    }

    &__right {
        display: flex;
        align-items: center;
        column-gap: 73px;
        margin: 5px 13px 0 0;
    }

    &--sticky {
        box-shadow: 0px 1px 6px rgba(0, 0, 0, .08);

        & .header__container {
            height: 66px;
        }
    }
}

@media (min-width: 760px) {
    .header {

        &__container {
            max-width: $grid-width;
            margin: 0 auto;
            padding: 0 10px;
        }

        &__text {
            font: 200 16px/1 $font-primary;
        }

        &__right {
            margin: 0;
        }
    }

}

@media (min-width: 945px) {}