$font-primary: 'Sharp Grotesk', sans-serif;
$font-secondary: 'Recoleta', sans-serif;

$color-primary: black;
$color-primary-hover: #a891ff;
$color-secondary-hover: #ACFF58;
$color-secondary: #1CD3C1;
$color-terciary: #9c27b0;
$bg-primary: #F1F1F1;
$bg-secondary: white;

$grid-width: 1260px;

$transition: all 0.2s;