* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  background-color: #F4F4F4;
  color: black;
  font: 1rem/1.1 "Sharp Grotesk", sans-serif;
  margin: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

figure,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
  text-indent: -9999px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

input:focus,
input {
  font-size: 16px;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.row {
  margin: 0 auto;
  max-width: 1260px;
  position: relative;
  padding: 0 20px;
  width: 100%;
}
.row__container {
  margin: 0 -10px;
  line-height: 0;
  font-size: 0;
}

.container {
  padding: 0 20px;
}

.col {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .row {
    padding: 0 10px;
  }
  .col_6 {
    width: 50%;
  }
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-200.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Sharp Grotesk";
  src: url("../fonts/sharpgrotesk-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
[data-lazyload] {
  opacity: 0;
}

.hide_mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide_mobile {
    display: block;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px 20px 0;
}
.header__svg {
  width: 140px;
  height: 80px;
}
.header__title {
  font-size: 0;
}

@media (min-width: 760px) {
  .header__svg {
    width: 190px;
    height: 110px;
  }
}
.form {
  background: transparent;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0);
  padding: 10px 15px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 870px;
  margin: 15px auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__text {
  background: transparent;
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__icon {
  width: 22px;
  height: 22px;
  border-radius: 125px;
  background: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__add {
  background: #2eb0fc;
  color: white;
  font-weight: bold;
  padding: 8px 14px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form.focus {
  background: white;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
}
.form.focus .form__add {
  visibility: visible;
  opacity: 1;
}
.form.focus .form__icon {
  background: #2eb0fc;
  fill: white;
}
.form__icon {
  position: relative;
  top: 4px;
}

.item {
  background: white;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  padding: 17px 5px 15px 15px;
  border-radius: 4px;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.item__dropdown {
  position: absolute;
  right: -120px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  padding: 10px 0 0;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9 ;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9 ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__dropdown.active {
  opacity: 1;
  visibility: visible;
}
.item__dropdown svg {
  height: auto;
  width: 20px;
}
.item__dropdown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 10px 17px;
  gap: 10px;
}
.item__icon {
  position: relative;
  width: 20px;
}
.item__icon__done, .item__icon__check {
  width: 20px;
  height: 20px;
  display: block;
  border: 1px solid grey;
  border-radius: 125px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.item__icon__done {
  opacity: 1;
  visibility: visible;
}
.item__icon.checked .item__icon__check, .item__icon:hover .item__icon__check {
  visibility: visible;
  opacity: 1;
}
.item__icon:hover .item__icon__check, .item__icon.checked .item__icon__check {
  background: #2eb0fc;
  border-color: #2eb0fc;
  fill: white;
}
.item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font: 300 16px/20px "Sharp Grotesk", sans-serif;
}
.item__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  display: none;
}
.item__toggle__dots {
  border-radius: 125px;
  background: grey;
  display: inline-block;
  height: 4px;
  width: 4px;
}

.action__remove, .action__edit, .action__favorite {
  width: 40px;
}
.action__remove svg, .action__edit svg, .action__favorite svg {
  width: 20px;
}
.action__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.box-done {
  max-width: 868px;
  margin: 30px auto 0;
}

.list--done,
.list {
  max-width: 868px;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.list--done:empty,
.list:empty {
  display: none;
}

.list__title {
  margin: 0 auto;
  max-width: 868px;
}

.list__li.favorited .action__favorite {
  fill: #ff9800;
}

.form-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.form-edit__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0;
  border-bottom: 1px solid grey;
  font: 300 16px/20px "Sharp Grotesk", sans-serif;
  resize: none;
}
.form-edit__save {
  background: #2eb0fc;
  color: #fff;
  font-weight: 700;
  padding: 8px 14px 6px;
  text-transform: uppercase;
  border-radius: 4px;
  height: 32px;
}

.sidebar {
  background: white;
  display: none;
  height: 100%;
  position: absolute;
  padding: 30px 20px;
  width: 250px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
}
.sidebar__ul {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__svg {
  margin: 0 10px 0 0;
}
.sidebar__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 300;
}
.sidebar__count {
  margin-left: auto;
}